/* 
    COLOR PALETTE:
        Primary:
            HEX: #E02B4F;
            RGB: rgba(224, 43, 79, 1);

        Secondary:
            HEX: #851727;
            RGB: rgba(133, 23, 39, 1)

        Tertiary:
            HEX: #141414
            RGB: rgba(20, 20, 20, 1)



    FONT-FAMILIES:
        Montserrat Regular:
            font-family: montserrat, sans-serif;
            font-weight: 400;
            font-style: normal;

        Ernestine Pro Regular:
            font-family: ff-ernestine-pro, serif;
            font-weight: 400;
            font-style: normal;
   

        Gaultier Regular:
            font-family: gaultier, sans-serif;
            font-weight: 400;
            font-style: normal;
*/