/* Basics: */
/* 
    COLOR PALETTE:
        Primary:
            HEX: #E02B4F;
            RGB: rgba(224, 43, 79, 1);

        Secondary:
            HEX: #851727;
            RGB: rgba(133, 23, 39, 1)

        Tertiary:
            HEX: #141414
            RGB: rgba(20, 20, 20, 1)



    FONT-FAMILIES:
        Montserrat Regular:
            font-family: montserrat, sans-serif;
            font-weight: 400;
            font-style: normal;

        Ernestine Pro Regular:
            font-family: ff-ernestine-pro, serif;
            font-weight: 400;
            font-style: normal;
   

        Gaultier Regular:
            font-family: gaultier, sans-serif;
            font-weight: 400;
            font-style: normal;

    ICONS:
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fal fa-shopping-cart"></i>
        <i class="fal fa-user"></i>
        <i class="fal fa-user"></i>
        <i class="fad fa-exclamation-triangle"></i>
        <i class="fal fa-times"></i>
        <i class="far fa-angle-right"></i>     

*/
/* 

    RULES:
        h1 - Headline, homepage only
        h2 - Best selling, Reviews, Dont miss out
        h3 - Content area on homepage, calendar, newsletter etc
        h4 - Cart and product page headline
        h5 - Product Name/Title, footer title
        h6 - Review titles, shipping-delivery-payment titles

*/
/* 

    FONT-FAMILIES:
        Montserrat Regular:
            font-family: montserrat, sans-serif;
            font-weight: 400;
            font-style: normal;

        Ernestine Pro Regular:
            font-family: ff-ernestine-pro, serif;
            font-weight: 400;
            font-style: normal;
   

        Gaultier Regular:
            font-family: gaultier, sans-serif;
            font-weight: 400;
            font-style: normal;

*/
/* STICKY FOOTER: ------------------------------- */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* ---------------------------------------------- */
/* RESETTING MARGIN & PADDING: ------------------ */
nav, footer, header, main,
div, section, article,
h1, h2, h3, h4, h5, h6,
p, i, a,
input, textarea, section, option, label,
ul, ol, li, form,
img, iframe {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ---------------------------------------------- */
/* Components: */
.nav__top {
  margin: 0;
}

.nav__brand {
  width: 100%;
  height: 100px;
}

.nav__logo {
  width: auto;
  height: 80px;
  padding: 10px;
}

@media (max-width: 991px) {
  .nav__search--lg {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav__search--sm {
    display: none;
  }
}

.nav__icons {
  text-align: right;
}

.nav__menu {
  border-top: 1px solid black;
}

@media (max-width: 991px) {
  .nav__menu {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 888;
    background: lightgoldenrodyellow;
    padding-top: 100px;
    height: 100%;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
}

@media (min-width: 992px) {
  .nav__menu-icon {
    display: none;
  }
}

.nav__menu__list {
  list-style: none;
}

@media (max-width: 991px) {
  .nav__menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 60px;
    text-align: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (min-width: 992px) {
  .nav__menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 100px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 991px) {
  .nav__menu__item {
    padding: 10px 20px;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .nav__menu__item {
    padding: 0px 30px;
    font-size: 16px;
  }
}

/* ---------------------------------------------- */
/* MOBILE MENU OPEN EFFECT: --------------------- */
@media (max-width: 991px) {
  .open-menu {
    left: 0px;
  }
  .fixed {
    position: fixed;
  }
}

/* ---------------------------------------------- */
.nav__menu-icon {
  z-index: 999;
  max-width: 50px;
  height: 45px;
  margin: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav__menu-icon:hover {
  cursor: pointer;
}

.nav__menu-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav__menu-icon span:nth-child(1) {
  top: 0px;
}

.nav__menu-icon span:nth-child(2), .nav__menu-icon span:nth-child(3) {
  top: 18px;
}

.nav__menu-icon span:nth-child(4) {
  top: 36px;
}

.nav__menu-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav__menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav__menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav__menu-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.benefits {
  background: lightgrey;
  padding: 20px 0;
  z-index: 666;
}

.benefits__title {
  margin: 0;
}

.benefits__desc {
  margin: 0;
}

.benefits__icon {
  text-align: right;
}
/*# sourceMappingURL=style.css.map */