/* 
    COLOR PALETTE:
        Primary:
            HEX: #E02B4F;
            RGB: rgba(224, 43, 79, 1);

        Secondary:
            HEX: #851727;
            RGB: rgba(133, 23, 39, 1)

        Tertiary:
            HEX: #141414
            RGB: rgba(20, 20, 20, 1)


