/* COLOR PALETTE: ------------------------------- */
// Color Variables
$primary-color: rgb(224, 43, 79);
$secondary-color: rgb(133, 23, 39);
$tertiary-color: rgb(20, 20, 20);
$grey-color: #d4d4d4;
$white-color: #FFFFFF;
$black-color: #000000;
$lighten-color: 10;
$darken-color: 25;

// Color Map
$colors: (
    primary: (
        base: $primary-color,
        light: lighten($primary-color, $lighten-color),
        dark: darken($primary-color, $darken-color),
    ),
    secondary: (
        base: $secondary-color,
        light: lighten($secondary-color, $lighten-color),
        dark: darken($secondary-color, $darken-color),
    ),
    tertiary: (
        base: $tertiary-color,
        light: lighten($tertiary-color, $lighten-color),
        dark: darken($tertiary-color, $darken-color),
    ),
    grey: (
        base: $grey-color,
        light: lighten($grey-color, $lighten-color),
        dark: darken($grey-color, $darken-color),
    )
    
);

// Color Function:
@function colors($base, $shade: base) {
    $color: map-get(
        map-get($colors, $base), 
        $shade
    );

    @return $color;
}
/* ---------------------------------------------- */