.ads{
    position: relative;

    &__main-event{
        background: url("../../graphics/ad/main4.jpg");
        background-position: 0% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;


        

        @media screen and (max-width: px) {
            
        }

        @media screen and (min-width: 992px) {
            
        }

        &__content{
            padding: 250px 10px;
            max-width: 380px;
            color: rgb(189, 0, 0);
            text-align: center;
        }
    }

    &__news{
        background: url("../../graphics/ad/test3.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 290px;


        &__content{
            color: colors(primary);
            padding-top: 130px;
        }
    }

    &__ideas{
        background: url("../../graphics/ad/test6.jpg");
        background-position: 0% 70%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 290px;

        &__content{
            text-align: center;
            padding-top: 30px;
            color: rgb(189, 0, 0);
        }

    }

    &__newsletter{
        background: url("../../graphics/ad/test4.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 290px;

        &__content{
            color: colors(secondary);
            text-align: center;
            padding-top: 30px;

            & input{
                border-radius: 0;
                margin-top: 10px;
                border: 0;
                height: 30px;
                box-shadow: 5px 5px 20px rgba(0, 0, 0, .15);
                padding: 2px 5px;
            }
        }
    }
}




@media screen and (max-width: 767px) {
    .ads__main-event,
    .ads__news,
    .ads__ideas,
    .ads__newsletter{
        margin-bottom: 20px;
    }           
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .ads__main-event,
    .ads__news{
        margin-bottom: 20px;
    }

    .ads__ideas{
        margin-right: 20px;
    }             
}


@media screen and (min-width: 992px) {
    .ads__main-event{
        margin-right: 20px;
    }

    .ads__news{
        margin-bottom: 20px;
    }

    .ads__ideas{
        margin-right: 20px;
    }           
}