.cart{
    &__products{
        width: 100%;
        margin: 0;
        padding: 0;

        &__container{
            @media screen and (max-width: 567px) {
                padding: 0;
            }
        }


        &__table-titles{
            border-bottom: 1px solid colors(grey, dark);
            padding: 50px 0 10px 0;
            display: flex;

            @media screen and (max-width: 991px) {
                    display: none
                }

            &__price{
                text-align: right;

                @media screen and (min-width: 992px) {
                    max-width: 130px;
                }
            }
        }

        &__card{
            padding: 15px 0px;
            margin: 0px; 
            border-bottom: 1px solid colors(grey, dark);



            @media screen and (max-width: 991px) and (min-width: 568px) {
                padding: 30px 0px;
            }


            &__image{
                @media screen and (max-width: 567px) {
                    max-width: 100px;
                    max-height: 100px;
                    padding: 0;
                }

                @media screen and (min-width: 568px) and (max-width: 991px) {
                    max-width: 200px;
                    max-height: 200px;
                    padding: 0;
                }

                @media screen and (min-width: 992px) {
                    max-width: 200px;
                    height: 200px;
                    margin: 0 15px;
                    padding: 0;
                }
            }

            &__content{
               padding: 10px;

               @media screen and (max-width: 567px) {
                    padding: 0 0 10px 10px;
                }

                @media screen and (min-width: 568px) and (max-width: 991px) {
                    padding: 0 0 15px 15px;
                }
            }

            &__title{
                padding: 0 0 7px 0;

                @media screen and (max-width: 567px) {
                    font-size: 14px;
                }
            }

            &__desc{
                padding: 0 0 15px 0;

                @media screen and (max-width: 567px) {
                    font-size: 12px;
                }
            }

            &__price{
                font-weight: 700;

                @media screen and (max-width: 567px) {
                    margin-left: 100px;
                }

                @media screen and (min-width: 568px) and (max-width: 991px) {
                    font-size: 17px;
                    padding: 10px 10px 0 15px;
                    margin-left: 200px;
                }

                @media screen and (min-width: 992px) {
                    max-width: 130px;
                    text-align: right;
                    padding: 10px 15px 0 0;
                    
                }

                
            }
        }

        &__total{
            border-bottom: 2px solid colors(tertiary);
            padding: 20px 0;
            display: flex;

            &__text{
                margin-left: 20px;
                font-size: clamp(14px, 2vw, 30px);
                font-weight: 700;
                text-transform: uppercase;
                align-self: center;
            }

            &__price{
                text-align: right;
                margin-right: 20px;
                font-size: clamp(18px, 2vw, 30px);
                font-weight: 700;
            }
        }
    }

    
    &__checkout-btn{
        margin: 20px 0;
    }



// Cart Navigation
    &__icon{
        position: relative;
        color: black;

        & a{
            color: black
        }
    }

    &__icon-quantity{
        position: absolute;
        top: -10px;
        right: -8px;
        border-radius: 100%;
        background: colors(primary);
        font-size: 13px;
        text-align: center;
        padding: 2px;
        font-weight: 600;
        color: white;
        width: 23px;
        height: 23px;    
    }
}