.nav{
    &__logo{
        &:hover{
            cursor: pointer;
        }
    }

    &__menu{
        
    }

    &__link{
        color: black;
        text-transform: uppercase;
        transition: .15s ease-in-out;
        font-size: cramp(14px, 1vw, 14px);

        &:hover{
            color: colors(primary);
            text-decoration: none;
            
        }
    }

    &__icons{
        font-size: 25px;
    
        & i:last-child{
            margin-left: 10px;
        }

        & i:hover{
            cursor: pointer;
            color: colors(primary);
        }
    }
}