.edit{

    &__container{
        margin-left: 300px;
        max-width: 600px;
        
    }

    &__title{
        font-size: clamp(25px, 5vw, 35px);
        margin-bottom: 20px;
    }

    &__form{
        &__label{
            width: 100%;
            margin-top: 25px;
            font-weight: 500;
        }
        
        &__input,
        &__textarea{
            border-radius: 0;
            outline: 0;
            border: 0;
            background: colors( grey, light);
            width: 600px;
            padding: 5px;

            &:focus{
                outline: 1px solid black;
            }
        }

        &__textarea{
            height: 150px;
        }

        &__featured{
            margin-bottom: 30px;
        }
    }

    &__advanced-option{
        width: 600px;

        & .card-header{
            padding: 0;
            margin-top: 30px;
        }
    }
}


.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle{
    color: #fff;
    background-color: colors(primary);
    border-color: colors(primary);
}

#featured__true:checked ~ .featured__true{
    color: #fff;
    background-color: colors(primary);
    border-color: colors(primary);
}

.btn-secondary {
    color: #000;
    background-color: colors(grey);
    border-color: colors(grey);
    margin-top: 5px;

    &:hover{
        color: #000;
        background-color: colors(grey, dark);
        border-color: colors(grey, dark);
    }
}